.page-content
  .row
    .col-md-12
      = render 'shared/page_heading', page_title: t('.page_title'),
                                      page_description: t('.page_description')
  .row.mdl-block-gap
  .row
    .col-md-12
      #notification-groups-container
        =render "push_notification_groups/index", pn_groups: @push_notification_groups,
                                                  app: @app, platform: @platform,
                                                  page: @page, per_page: @per_page
%button.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-fab-button{id: "send_push_notification", url: push_notifications_url + '?mode=new&app_id=' + @app_id.to_s}
  %i.material-icons
    .fa-rotate-45
      = "send"
.mdl-tooltip.mdl-tooltip--large{for: 'send_push_notification'}
  = "Send push notification"
:css

  #send_push_notification {
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    margin-right: 70px;
    margin-bottom: 70px;
    z-index: 900;
  }

  .fa-rotate-45 {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    font-size: 30px;
  }

:javascript
  $(document).ready(function(){
    $('#send_push_notification').on('click',send_push_notification)
  });

  function send_push_notification(e){
    var url = $(this).attr('url');
    var orgid = $('#hdf_selected_org_id').val();
    e.preventDefault();
    window.location = url;
  }
