- page_title = page_title
- page_description = page_description
.mdl-card.mdl-shadow--2dp.side-heading
  .mdl-card__title
    .mdl-card__title-text
      .page-title{style: "background-color: #333542 !important;"}
        .name
          =page_title
        .description
          =page_description

:css
  .side-heading{
    width:100%;
    min-height:15px !important;
    background-color: #333542 !important;"}
  }