.page-content
  .row
    .col-md-12
      = render 'shared/page_heading', page_title: t('.page_title'), page_description: t('.page_description')
  .row.mdl-block-gap-30
  .row
    .col-md-12{style: 'width:100%;'}
      - @apps_stats.each do |app_stat|
        = render 'home/app', app_stat: app_stat

%button.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-fab-button.floating-fab-button{id: "add_app", url: new_app_url}
  %i.material-icons
    = 'add'
.mdl-tooltip.mdl-tooltip--large{for: 'add_app'}
  = t("create_app");

:css

  #add_app {
    position: fixed;
    margin-right: 50px;
    margin-bottom: 60px;
    z-index: 900;
    display: block;
    right: 0;
    bottom: 0;
  }

  .icons {
    color:  #FE8183;
    /*font-size: 15px !important;*/
  }

  .list-group-item
  {
    height: 80px !important;
  }

  #app_container > .app-name {
      padding: 16px;
      margin-top: 130px;
      color: white;
      font-size: 24px;
  }

  #app_labels {
    padding: 10px;
    font-size: 18px;
    height: 40px;
  }

  .icon-space
  {
    margin-right: 5px;
  }



:javascript
  $(document).ready(function(){
    $('#add_app').on('click',add_new_app)
  });

  function add_new_app(e){
    var url = $(this).attr('url');
    var orgid = $('#hdf_selected_org_id').val();
    e.preventDefault();
    //$.get(url,'','','script');
    window.location = url;
  }
