- name = name
- description = description
.mdl-shadow--2dp{style: 'width: 100%;'}
  .mdl-card__title
    .mdl-card__title-text
      %h4
        = t('push_notifications.campaign_details')
  .mdl-card__actions.mdl-card--border
    .mdl-card__supporting-text
      %div
        %h5
          = name
      %div
        = description