.page-content
  .row
    .col-md-12
      = render 'shared/page_heading', page_title: t('.page_title'), page_description: t('.page_description')
  .row.mdl-block-gap
  .row
    .col-md-12
      = render 'shared/wizard', items: @campaign_items
  .row.mdl-block-gap
  .row
    .mdl-shadow--2dp{style: "width:100%"}
  .col-md-12
    .col-md-4
    .col-md-3
      .mdl-card.mdl-shadow--2dp.through.mdl-shadow--2dp
        .mdl-card__title
          .mdl-card__title-text
            = t('push_notifications.campaign')
        .mdl-card__actions.mdl-card--border
        #rowalerts
        %div
          #create_campaign
            =render "push_notifications/create_campaign"
        .row.mdl-block-gap-30
    %input{type: :hidden, value: @app.id, name: 'app_id', id: 'app_id'}


:javascript
  $(document).ready(function(){
    $('#create_campaign #btnSaveCampaign').on('click',save_campaign);
  });

  function save_campaign(e)
  {
    e.preventDefault();
    var description = $("#create_campaign #description").val();
    var name = $("#create_campaign #name").val();
    var app_id = $("#app_id").val();
    var action_url = 'save_campaign_details?app_id=' + app_id;
    var params = {description: description, name: name, app_id: app_id};
    $.ajax({
      url: action_url,
      type: 'post',
      dataType: 'script',
      data: params,
      success: ''
    });
  }