.page-content
  .row
    .col-md-12
      = render 'shared/page_heading', page_title: t('.page_title'),
                page_description: t('.page_description')
  .row.mdl-block-gap
  .row
    .col-md-12
      = render 'shared/wizard', items: @campaign_items
  .row.mdl-block-gap
  .row
    .col-md-1
    .col-md-5{id: "schedule_campaign"}
      = render 'schedule_campaign'
      %input{type: :hidden, value: @app_id, id: :hv_app_id, name: :hv_app_id}

    .col-md-5
      = render 'selected_message', title: @campaign.title, body: @campaign.body, user_count: @user_count,
        platform_filters: @platform_filters, version_filters: @version_filters, model_filters: @model_filters
    .col-md-1
  .row.mdl-block-gap
