.page-content
  .row
    .col-md-12
      = render 'shared/page_heading', page_title: t('.page_title'), page_description: t('.page_description')
  .row.mdl-block-gap
  .row
    .col-md-12
      =render "crash_reports/index", crash_groups: @crash_groups, app: @app, platform: @platform, page: @page, per_page: @per_page


:javascript
  $(function() {

    function getCrashGroups(){
      showPaginationLoader($('.pagination_container#crash_group_container'));
      var form = $('#pagination_crash_groups_form')[0];

      $.get($(form).attr('action'), $(form).serialize(), function(){

      },'script');
    }

    $('#filter_platforms').multiselect({
      onChange: function(option, checked, select) {
        window.location.href = "#{crash_reports_path(app_id: @app_id)}&platform=" + $(option).val();
      }
    });

  })