.page-content
  .row
    .col-md-12
      = render 'shared/page_heading', page_title: t('.page_title'), page_description: t('.page_description')
  .row.mdl-block-gap
  .row
    .col-md-12
      = render "feedback_details",  feedback: @feedback, replies: @replies,
                                      feedback_category_name: @feedback_category_name,
                                      user_details: @user_details,
                                      mobile_model_details: @mobile_model_details
  .row.mdl-block-gap

:javascript
  $(document).ready(function(){
    $('#btnCancelReply').on('click',function(){
      var feedback_url =  "#{feedbacks_url+"?app_id=" + @app_id.to_s }";
      window.location = feedback_url;
    });
  });
