.page-content
  .row
    .col-md-12
      = render 'shared/page_heading', page_title: t('.page_title'), page_description: t('.page_description')
  .row{'style'=>'height:10px'}
  .row
    .col-md-12
      #feedback-container
        =render "feedbacks/index", feedbacks: @feedbacks, page: @page, per_page: @per_page