.page-content
  .row
    .col-md-12
      = render 'shared/page_heading', page_title: t('.page_title'), page_description: t('.page_description')
  .row.mdl-block-gap
  .row
    .col-md-12
      = render 'apps/form', app: app