.page-content
  .row
    .col-md-12
      = render 'shared/page_heading', page_title: t('.page_title'), page_description: t('.page_description')
  .row
    .col-md-12
      = render 'apps/push_notification_settings', app: @app, platforms: @platforms, app_settings: @app_settings

:javascript
  $(document).ready(function(){
    $('#btnClientKeyCopy').on('click', copyClientKey)
    $('#btnAPIKeyCopy').on('click', copyAPIKey)
  });

  function copyClientKey(e)
  {
    e.preventDefault();
    var input = $('#clientkey');
    input.select();
    document.execCommand('copy');
  }

  function copyAPIKey(e)
  {
    e.preventDefault();
    var input = $('#APIkey');
    input.select();
    document.execCommand('copy');
  }

  $('#keyspanelheading').on('shown.bs.collapse', function () {
   $("#keyspanelicon").removeClass("fa fa-chevron-circle-down").addClass("fa fa-chevron-circle-up");
  });

  $('#keyspanelheading').on('hidden.bs.collapse', function () {
    $("#keyspanelicon").removeClass('fa fa-chevron-circle-up').addClass("fa fa-chevron-circle-down");
  });