
$primary: #E91E63;
$secondary: #2196F3;
$white: #fff;
$olivegreen:#233239;
$bar_green: #233239;
$lightblue: #00ACC4;
$green: #4CAF50;
$dark-green: #388E3C;
$blue: #9C27B0;
$dark-blue: #7B1FA2;
$gray: #607D8B;
$dark-gray: #455A64;
$orange: #FFA000;
$dark-orange: #E99400;
$cream: #faf9f4
