.page-content
  .row
    .col-md-12
      = render 'shared/page_heading', page_title: t('.page_title'), page_description: t('.page_description')
  .row{'style'=>'height:10px'}
  .row
    .col-md-12
      #feedback-container
        =render "feedback_categories/index", feedback_categories: @feedback_categories
        %input{type: "hidden", id: 'app_id', value: @app.id}

%button.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-fab-button.floating-fab-button{id: "add_feedback_category", url: new_feedback_category_path}
  %i.material-icons
    = 'add'
.mdl-tooltip.mdl-tooltip--large{for: 'add_feedback_category'}
  = t("create_fb_category")

:css

  #add_feedback_category {
    position: fixed;
    margin-right: 50px;
    margin-bottom: 60px;
    z-index: 900;
    display: block;
    right: 0;
    bottom: 0;
  }

  .icons {
    color:  #FE8183;
    font-size: 15px !important;
  }

:javascript
  $(document).ready(function(){
    $('#add_feedback_category').on('click',add_new_fb_category)
  });

  function add_new_fb_category(e){
    app_id = $("#app_id").val();
    var url = $(this).attr('url') + '?app_id=' + app_id;
    e.preventDefault();
    window.location = url;
  }
