.page-content
  .row
    .col-md-12
      = render 'shared/page_heading', page_title: t('.page_title'), page_description: t('.page_description')
  .row{'style'=>'height:10px'}
  .row
    .col-md-12
      #feedback-container
        =render "feedback_categories/new", feedback_category: @feedback_category, app_id:  @app_id


:javascript
  $(document).ready(function(){
    $('#btnCancelFeedbackCategory').on('click',function(){
      var app_id = $("#app_id").val()
      var feedback_category_url =  "#{feedback_categories_url}" + "?app_id=" + app_id;
      window.location = feedback_category_url;
    });
  });